<c-modal>
<c-slot name="header">
<h1 class="modal-title fs-5" id="exampleModalLabel">Delete profile avatar image</h1>
</c-slot>
<c-slot name="body">
<form id="avatar_delete_form"
      method="post"
      action="{% url "profile-delete-avatar-image" %}">
    {% csrf_token %}
    <p>Are you sure delete avatar image?</p>
</form>
</c-slot>
<c-slot name="footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="submit" form="avatar_delete_form" class="btn btn-danger">Delete</button>
</c-slot>
</c-modal>
