Django==5.1.1
djlint==1.35.2
django-extensions==3.2.3
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
django-debug-toolbar==4.4.6
django-htmx==1.19.0
django-active-link==0.2.2
pillow==10.4.0
django-cleanup==9.0.0
django-allauth==65.0.2
django-cotton==1.1.1
django-environ==0.11.2
gunicorn==23.0.0
psycopg[binary]==3.2.3