{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Project</title>
        <link rel="stylesheet" href="{% static "bootstrap-5.3.3/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/loader.css" %}">
        <script defer src="{% static "alpinejs-3.14.1/js/alpinejs.min.js" %}"></script>
        <script defer src="{% static "htmx-2.0.2/js/htmx.min.js" %}"></script>
    </head>
    <body>
        {% include "includes/loader.html" %}
        {% include "a_htmx_messages/toast_messages.html" %}
        <section id="modal_container">
            <div x-data="modal"
                 class="modal fade"
                 id="exampleModal"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">...</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "includes/navbar.html" %}

        {% block layout %}
        {% endblock layout %}

        <script src="{% static "bootstrap-5.3.3/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/loader.js" %}"></script>
        <script src="{% static "a_htmx_messages/js/htmx_messages.js" %}"></script>
        <script src="{% static "js/modals.js" %}"></script>
    </body>
</html>
