{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Project</title>
        <link rel="stylesheet" href="{% static "bootstrap-5.3.3/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/loader.css" %}">
        <script defer src="{% static "alpinejs-3.14.1/js/alpinejs.min.js" %}"></script>
        <script defer src="{% static "htmx-2.0.2/js/htmx.min.js" %}"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include "includes/loader.html" %}
        {% include "a_htmx_messages/toast_messages.html" %}
        <section id="modal_container">
        </section>
        {% include "includes/navbar.html" %}

        {% block layout %}
        {% endblock layout %}

        <script src="{% static "bootstrap-5.3.3/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/loader.js" %}"></script>
        <script src="{% static "a_htmx_messages/js/htmx_messages.js" %}"></script>
        <script src="{% static "js/modals.js" %}"></script>
    </body>
</html>
